@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            @if(User.Claims.Any(x => x.Type == "KokoNimi"))
            {
                <a class="nav-link" style="color: white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tervetuloa @User.Claims.FirstOrDefault(x => x.Type == "KokoNimi").Value</a>
            }
            else
            {
                <a class="nav-link" style="color: white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tervetuloa @User.Identity?.Name</a>
            }
            
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button type="submit" style="color: white" class="nav-link btn btn-link">Kirjaudu ulos</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" style="color: white" asp-area="Identity" asp-page="/Account/Register">Rekisteröidy</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" style="color: white" asp-area="Identity" asp-page="/Account/Login">Kirjaudu</a>
    </li>
}
</ul>
