@model Kipa_plus.Models.Kisa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kisa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Jaa tilanneseuranta</label>
                <input type="checkbox" asp-for="JaaTagTilastot" class="form-check-input" />
                <span asp-validation-for="JaaTagTilastot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
