@model Kisa_Kuikka.Models.Kisa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kisa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TilanneSeurantaKuvaURL" class="control-label"></label>
                <input asp-for="TilanneSeurantaKuvaURL" class="form-control" />
                <span asp-validation-for="TilanneSeurantaKuvaURL" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Jaa tilanneseuranta</label>
                <input type="checkbox" asp-for="JaaTilanneSeuranta" class="form-check-input" />
                <span asp-validation-for="JaaTilanneSeuranta" class="text-danger"></span>
            </div>
            <br />
           
            <div class="form-group">
                <label class="control-label"> 
                    <input type="checkbox" asp-for="LahetaIlmoituksiaRastinTilanvaihdosta" class="form-check-input" />
                    Lähetä ilmoitus kaikille joilla on oikeus rastiin jos rastin tilanne vaihdetaan tilaan jonka vaihdaamiseen tarvitaan valtuuksia
                </label>
               
                <span asp-validation-for="LahetaIlmoituksiaRastinTilanvaihdosta" class="text-danger"></span>
            </div>
            <br />
             <div class="form-group">
                <label class="control-label">
                    <input type="checkbox" asp-for="LahetaIlmoituksiaRastinTilanvaihdostaValtuudetOmaaville" class="form-check-input" />
                    Läheta ilmoitus rastin tilanvaihdosta henkilöille joiden roolit sisältävät oikeuden valtuuksia vaativien tilojen vaihtoon
                </label>
               
                <span asp-validation-for="LahetaIlmoituksiaRastinTilanvaihdostaValtuudetOmaaville" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
