@{
    ViewData["Title"] = "Lataukset";
}
@model int

<h1>Lataukset</h1>

<div class="grid-container">
   
    <div class="grid-item" onClick="location.href='/Lataus?kisaid=@Model&format=xlsx'"><img class="grid-item-image" alt="Vartiot" src="/images/xlsx-file-format-extension.png"><p class="grid-item-text">.XLSX</p></div>
   
    
</div>