@model string
@{
    ViewData["Title"] = "liittymisId";
}

<h3>LiittymisId</h3>
<br />
<br />
<h2>@Model</h2>
@{
    var url = "https://" + Context.Request.Host.ToString() + "/Identity/Account/Register?LiittymisId=" + Model;
}
<br />
<h5>@url</h5>



