@model Kipa_plus.Models.ViewModels.LuoRastiViewModel

@{
    ViewData["Title"] = "Luo Rasti";
}

<h1>Luo</h1>

<h4>Rasti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LuoRasti">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="col-md-10">
                
                <input asp-for="KisaId" class="form-control" hidden="hidden" />
                <span asp-validation-for="KisaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            @if (ViewBag.Error != null)
            {
                <span class="text-danger">@ViewBag.Error</span>
            }
            <br />
             <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            @if (ViewBag.NumeroError != null)
            {
                <span class="text-danger">@ViewBag.NumeroError</span>
            }
            <br />
            <div class="form-group">
                <label class="control-label">Tarkistus käytössä</label>
                <input asp-for="TarkistusKaytossa" type="checkbox" class="form-check-input" />
                <span asp-validation-for="TarkistusKaytossa" class="text-danger"></span>
            </div>
            
             <div class="form-group">
                <label class="control-label">Vaadi kahden eri käyttäjän tarkistus</label>
                <input asp-for="VaadiKahdenKayttajanTarkistus" type="checkbox" class="form-check-input" />
                <span asp-validation-for="VaadiKahdenKayttajanTarkistus" class="text-danger"></span>
            </div>
            <br />
           
            <div class="col-md-10" style="max-width:500px">
                <label class="control-label">Tilanne</label>
                @Html.DropDownListFor(model => model.NykyinenTilanneId,new SelectList(Model.Tilanteet, "Id", "Nimi"),  new { @class = "form-control"} )
                @Html.ValidationMessageFor(model => model.NykyinenTilanneId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Luo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
