@model IEnumerable<Kipa_plus.Models.Rasti>
@using Kipa_plus.Models

@{
    ViewData["Title"] = "Rastit";
}

<h1>Rastit</h1>


<button type="button" class="btn btn-light" onclick="location.href = '/Rasti/Create/?kisaId=@Model.FirstOrDefault().KisaId';">Luo uusi</button>
<table class="table" style="color: white">
    <thead><tr></tr></thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    
                    @{
                        var Sarjat = ViewData["Sarjat"] as List<Sarja>;
                        var sarja = Sarjat.FirstOrDefault(x => x.Id == item.SarjaId);
                        

                    }
                    <h4>@item.Nimi</h4>
                    <h5>@sarja.Nimi</h5>
                </td>
               
                
                <td>
                   
                    <button type="button" class="btn btn-light" onclick="location.href = '/Rasti/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtävä/?RastiId=@item.Id';">Tehtävät</button>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Rasti/Delete/@item.Id';">Poista</button>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
