@model IEnumerable<Kisa_Kuikka.Models.Sarja>

@{
    ViewData["Title"] = "Sarjat";
}

<h1>Sarjat</h1>

<p>
     <secure-content asp-area="" asp-controller="Sarja" asp-action="Luo">
        <button type="button" class="btn btn-light" onclick="location.href = '/Sarja/Luo?kisaid=@ViewBag.KisaId';">Luo Sarja</button>
     </secure-content>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                Nimi
            </th>
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{var num = item.Numero.ToString() + "00";}
                    <h4>@item.Nimi (@num)</h4>
                </td>
               
                
                <td>
                    
                   <secure-content asp-area="" asp-controller="Sarja" asp-action="Edit">
                        <button type="button" class="btn btn-light" onclick="location.href = '/Sarja/Edit?id=@item.Id';">Muokkaa</button>
                   </secure-content>
                   <secure-content asp-area="" asp-controller="Sarja" asp-action="Delete">
                        <button type="button" class="btn btn-danger" onclick="location.href = '/Sarja/Delete?id=@item.Id';">Poista</button>
                   </secure-content>
                </td>
            </tr>
        }
    </tbody>
</table>
