@model IEnumerable<Kipa_plus.Models.Sarja>

@{
    ViewData["Title"] = "Sarjat";
}

<h1>Sarjat</h1>

<p>
     <button type="button" class="btn btn-light" onclick="location.href = '/Sarja/Luo?kisaid=@ViewBag.KisaId';">Luo Sarja</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                Nimi
            </th>
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4>@item.Nimi</h4>
                </td>
               
                
                <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Sarja/TagTilastot?id=@item.Id';">Tag tilastot</button>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Sarja/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '/Sarja/Delete?id=@item.Id';">Poista</button>
                </td>
            </tr>
        }
    </tbody>
</table>
