@model IEnumerable<Kipa_plus.Models.Vartio>
@using Kipa_plus.Models;

@{
    ViewData["Title"] = "Vartiot";
}

<h1>Vartiot</h1>

<p>
    <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/Luo?kisaid=@ViewBag.KisaId';">Luo vartio</button>
    <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/KenenTag';">Kenen Tag</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                Nimi, numero ja lippukunta
            </th>
            <th>
                Sarja ja lippukunta
            </th>
           
           
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h3>@item.Nimi</h3>
                    <h5>@item.Numero</h5>
                    
                </td>
                <td>
                    @{
                        var nimi = "";
                        List<Sarja> lista = ViewBag.Sarjat;
                        var items = lista.Where(x => x.Id == item.SarjaId);
                        if(items != null)
                        {
                            var sarja = items.FirstOrDefault();
                            nimi = sarja.Nimi;
                        }
                    }
                    <h5>@nimi</h5>
                    <h5>@item.Lippukunta</h5>
                </td>
                
               
                
                <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/LiitaTag?VartioId=@item.Id';">Lisaa tag</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '/Vartio/Delete?id=@item.Id';">Poista</button>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
