@model Kisa_Kuikka.Models.ViewModels.VartiotViewModel
@using Kisa_Kuikka.Models;

@{
    ViewData["Title"] = "Vartiot";
}

<h1>Vartiot</h1>

<p>
   <secure-content asp-area="" asp-controller="Vartio" asp-action="Luo">
        <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/Luo?kisaid=@Model.KisaId';">Luo vartio</button>
   </secure-content>
    <secure-content asp-area="" asp-controller="Vartio" asp-action="KenenTag">
        <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/KenenTag';">Kenen Tag</button>
    </secure-content>
</p>

@if(Model != null)
{
    @foreach (var sarja in Model.Sarjat)
{
    
    <table class="table" style="color: white">

        <thead>

            <tr>
                <th>
                        <h2>@sarja.NimiJaKokoNumero -sarja</h2>
                    Nimi ja numero
                </th>
                <th>
                    Sarja ja tilanne
                </th>



                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Vartiot.Where(x => x.SarjaId == sarja.Id))
            {
                <tr>
                    <td>
                        <h3>@item.Nimi</h3>
                        <h5>@item.Numero</h5>

                    </td>
                    <td>

                        <h5>@sarja.Nimi</h5>
                            @if (item.Keskeytetty)
                            {
                                <h5 class="text-danger">Keskeyttänyt</h5>
                            }
                            else
                            {
                                <h5 class="text-success">Kisassa</h5>
                            }

                    </td>



                    <td>
                        <secure-content asp-area="" asp-controller="Vartio" asp-action="Edit">
                                <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/Edit?id=@item.Id';">Muokkaa</button>
                        </secure-content>
                           <secure-content asp-area="" asp-controller="Vartio" asp-action="LiitaTag">
                                @if(item.TagSerial == null || item.TagSerial == string.Empty)
                            {
                                <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/LiitaTag?VartioId=@item.Id';">Lisaa tag</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-light" onclick="location.href = '/Vartio/LiitaTag?VartioId=@item.Id';">Vaihda tag</button>
                            }
                           </secure-content>
                           <secure-content asp-area="" asp-controller="Vartio" asp-action="Delete">
                                <button type="button" class="btn btn-danger" onclick="location.href = '/Vartio/Delete?id=@item.Id';">Poista</button>
                           </secure-content>
                           <secure-content asp-area="" asp-controller="Vartio" asp-action="Keskeyta">
                                @if (item.Keskeytetty)
                                {
                                    <button type="button" class="btn btn-danger" onclick="location.href = '/Vartio/Keskeyta?id=@item.Id';">Palauta kisaan</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-danger" onclick="location.href = '/Vartio/Keskeyta?id=@item.Id';">Keskeytä</button>
                                }
                                
                           </secure-content>
                            
                    </td>
                </tr>
            }
            <br />


        </tbody>
    </table>

    }
    <br />
    <br />
}
else
{
    <h1>Tässä kisassa ei ole yhtään vartiota</h1>
}

