@model Kisa_Kuikka.Models.Rasti

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rasti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/Rasti/Edit?RastiId=@Model.Id" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group" hidden="hidden">
                <label asp-for="KisaId" class="control-label"></label>
                <input asp-for="KisaId" class="form-control" />
                <span asp-validation-for="KisaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            @if (ViewBag.Error != null)
            {
                <span class="text-danger">@ViewBag.Error</span>
            }
            <br />
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            @if (ViewBag.NumeroError != null)
            {
                <span class="text-danger">@ViewBag.NumeroError</span>
            }
             <br />
            <div class="form-group">
                <label  class="control-label">Tehtäväpaikkojen määrä</label>
                <input asp-for="tehtavaPaikat" class="form-control" style="max-width:100px" />
                <span asp-validation-for="tehtavaPaikat" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Tarkistus käytössä</label>
                <input asp-for="TarkistusKaytossa" type="checkbox" class="form-check-input" />
                <span asp-validation-for="TarkistusKaytossa" class="text-danger"></span>
            </div>
            <br />
             <div class="form-group">
                <label class="control-label">Vaadi kahden eri käyttäjän tarkistus</label>
                <input asp-for="VaadiKahdenKayttajanTarkistus" type="checkbox" class="form-check-input" />
                <span asp-validation-for="VaadiKahdenKayttajanTarkistus" class="text-danger"></span>
            </div>
            <br />
            <!--
            <div class="form-group">
                <label asp-for="OhjeId" class="control-label"></label>
                <input asp-for="OhjeId" class="form-control" />
                <span asp-validation-for="OhjeId" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
