@model IEnumerable<Kipa_plus.Models.Kisa>

@{
    ViewData["Title"] = "Kisat";
}

<div class="grid-container">

    @foreach (var item in Model)
    {
        <div class="grid-item" onClick="location.href='/Kisa/@item.Id'"><img class="grid-item-image" alt="Luo kisa" src="/images/competition.png"><p class="grid-item-text">@item.Nimi</p></div>
    
    }
    <div class="grid-item" onClick="location.href='/Kisa/Create'"><img class="grid-item-image" alt="Luo kisa" src="/images/plus.png"><p class="grid-item-text">Luo kisa</p></div>
</div>
