@page
@model Disable2faModel
@{
    ViewData["Title"] = "Poista kaksivaiheinen tunnistus käytöstä";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Tämä poistaa kaksivaiheisen tunnistuksen käytöstä!</strong>
    </p>
    <p>
        kaksivaiheisen tunnistuksen poistaminen ei muuta todennus sovelluksessa käytössä olevia avaimia.
        jos haluuat vaihtaa ne, <a asp-page="./ResetAuthenticator">tee se täälä.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Poista kaksivaiheinen tunnistus käytöstä</button>
    </form>
</div>
