@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Määritä todennus sovellus";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>Käyttääksesi todennus sovellusta, nouda näitä ohjeita:</p>
    <ol class="list">
        <li>
            <p>
               Lataa todennus sovellus kuten Microsoft Authenticator 
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Androidille</a> ja
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOSille</a> tai
                Google Authenticator 
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Androidille</a> and
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOSille</a>.
            </p>
        </li>
        <li>
            <p>Syötä tämä avain <kbd>@Model.SharedKey</kbd> todennus sovellukseen. HUOM! poista välilyönnit avaimesta</p>
           
        </li>
        <li>
            <p>
                Kun olet skannannut QR-koodin tai syöttänyt avaimen todennus sovellukseesi, antaa sovellus sinulle koodin,
                joka sinus pitää syöttää alla olevaan kenttään.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="Syötä koodi tähän."/>
                            <label asp-for="Input.Code" class="control-label form-label">Varmistus koodi</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Varmista</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/davidshimjs-qrcodejs/qrcode.js"></script>
    <script type="text/javascript" src="~/js/qr.js"></script>
}
