@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Luo palautuskoodit";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Laita nämä palautuskoodit talteen</strong>
    </p>
    <p>
        jos kadotat todennus laitteesi, voit käyttää näitä koodeja sisäänkirjautumiseen.
    </p>
    <p>
        Uusien palautusavainten luonti ei muuta todennus sovelluksessa käytössä olevia avaimia.
        jos haluuat vaihtaa ne, <a asp-page="./ResetAuthenticator">tee se täälä.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Luo palautuskoodit</button>
    </form>
</div>
