@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Palauta todennus sovelluksen avain";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>todennus sovelluksen avaimien palauttaminen estää todennus sovelluksen käytön ennen sen uudelleen määrittämistä</strong>
    </p>
    <p>
        Tämä prosessi poistaa kaksivaiheisen tunnistuksen käytöstä kunnes olet varmistanut todennus sovelluksesi.
        Jos et uudelleenmääritä todennus sovellustasi nyt, voit menettää pääsy tiliisi.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Palauta todennus sovelluksen avain</button>
    </form>
</div>
