@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Kaksivaiheinen tunnistus (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Sinulla ei ole enään yhtään palautuskoodia jäljellä</strong>
                    <p>You must <a asp-page="./GenerateRecoveryCodes">Luo koodit uudelleen</a> ennekuin voit kirjautua uudelleen sisään palautuskoodilla.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Sinulla on yksi palautuskoodi jäljellä.</strong>
                    <p>On suositeltavaa että <a asp-page="./GenerateRecoveryCodes">luot uudet palautuskoodit</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Sinulla @Model.RecoveryCodesLeft palautuskoodia jäljellä</strong>
                    <p>On suositeltavaa että <a asp-page="./GenerateRecoveryCodes">luot uudet palautuskoodit</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Unohda tämä selain</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Poista kaksivaiheinen tunnistus käytöstä</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">luo uudet palautuskoodit</a>
        }

        <h4>Todennus sovellus</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Lisää todennus sovellus</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Lisää todennus sovellus</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Palauta todennus sovellus</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
