@model IEnumerable<Kipa_plus.Models.Kisa>

@{
    ViewData["Title"] = "Kisat";
}

<div class="grid-container">

    @foreach (var item in Model)
    {
        <div class="grid-item" onClick="location.href='/Kisa/@item.Id'">@item.Name</div>
    
    }
</div>
