@{
    ViewData["Title"] = "Tervetuloa";
}﻿
 
<h1>Tervetuloa kisaan</h1>
<h2>Sinulla ei ole vielä oikeuksia tähän kisaan, odota että kisatoimisto antaa sinulle oikeudet</h2>
<h5>Kun olet saanut oikeudet, voit siirtyä kisasivulle painamalle Kisa-Kuikka logoa sivun yläreunassa</h5>
