@model Kipa_plus.Models.Vartio

@{
    ViewData["Title"] = "Luo";
}

<h1>Luo</h1>

<h4>Vartio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Luo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-10">  
                <label class="control-label">Kisa</label>
                @Html.DropDownListFor(model => model.KisaId,new SelectList(ViewBag.Kisat, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.KisaId, "", new { @class = "text-danger" })  
            </div>  
            <div class="col-md-10">  
                <label class="control-label">Sarja</label>
                @Html.DropDownListFor(model => model.SarjaId,new SelectList(ViewBag.Sarjat, "Id", "Nimi"),  new { @class = "form-control"} )  
                @Html.ValidationMessageFor(model => model.SarjaId, "", new { @class = "text-danger" })  
            </div>  
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            
            
            <div class="form-group">
                <label asp-for="Lippukunta" class="control-label"></label>
                <input asp-for="Lippukunta" class="form-control" />
                <span asp-validation-for="Lippukunta" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Luo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
