@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Ei oikeuksia";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Jos sinulla pitäisi olla oikeudet tähän resurssiin, kysy apua kisatoimistosta tai järjestelmänvalvojalta!</p>
</header>
