@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Kaksivaiheinen tunnistus";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>Käyttäjäsi on suojattu kaksivaiheisella tunnistautumisella, syötä koodisi.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <label class="form-label">Koodi</label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label class="form-label">
                    Muista tämä laite
                    <input asp-for="Input.RememberMachine" />
                    @Html.DisplayNameFor(m => m.Input.RememberMachine)
                </label>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>
<p>
   
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">Kirjaudu sisään käyttämällä palautuskoodia</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}