@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Palautuskoodilla kirjautuminen";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
   Olet kirjautumsassa sisään käyttämällä palautuskoodia. Tätä kirjautumista ei tulla muistamaan ennenkuin kirjaudut uudelleen sisään.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="RecoveryCode" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}