html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid-container {
    display: grid;
    
    padding: 10px;
    row-gap: 1em;
    column-gap: 1em;
}

.grid-item {
    background-color: rgba(120, 120, 120, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 2.5em;
    text-align: left;
    border-radius: 25px;
    width: 5.5em;
    height: 7em;
    text-align: center;
}

.grid-item-image{
    max-width: 70%;
    max-height: 80%;
}

.grid-item-text{
    font-size: 1em;
}

@media(max-width: 600px) {
    .grid-item {
        width: 98%;
        justify-content: center;
        align-content: center;
    }
}




@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 0.5fr);
    }
}

@media (min-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(4, 0.5fr);
    }
}

@media (min-width: 1100px) {
    .grid-container {
        grid-template-columns: repeat(5, 0.5fr);
    }
}

@media print {
    .noPrint {
        display: none;
    }
    .pb-3{
        background-color: white !important;
        color: black !important;
    }
    body {
        background-color: white !important;
        color: black !important;
    }
    .navbar {
        background-color: white !important;
        color: black !important;
    }
}

