html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid-container {
    display: grid;
    
    padding: 10px;
    row-gap: 1em;
    column-gap: 1em;
}


.grid-item {
    background-color: rgba(120, 120, 120, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 2.5em;
    text-align: left;
    border-radius: 25px;
    width: 5.5em;
    height: 7em;
    text-align: center;
}

.grid-item-image{
    max-width: 70%;
    max-height: 80%;
}

.grid-item-text{
    font-size: 1em;
}
.grid-item-text-small {
    font-size: 0.8em;
}

.SkannausTulos{
    text-align: center;
    
}

@media(max-width: 600px) {
    .grid-item {
        width: 98%;
        justify-content: center;
        align-content: center;
    }
}




@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 0.5fr);
    }
}

@media (min-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(4, 0.5fr);
    }
}

@media (min-width: 1100px) {
    .grid-container {
        grid-template-columns: repeat(5, 0.5fr);
    }
}

@media print {
    .noPrint {
        display: none;
    }
    .pb-3{
        background-color: white !important;
        color: black !important;
    }
    body {
        background-color: white !important;
        color: black !important;
    }
    .navbar {
        background-color: white !important;
        color: black !important;
    }
}

.form-label {
    color:black;
}


/*DynamicAuth*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

input[type="checkbox"] {
    margin: 5px !important;
}


.userRole-rolespan {
    background-color: #404040;
    border-radius: 0.3em;
    padding: 0.2em;
    margin-top: 0.3em;
    display: inline-block;
}

.btn {
    margin-top: 0.3em;
}
