@model Kipa_plus.Models.ViewModels.SarjaViewModel

@{
    ViewData["Title"] = "Luo Sarja";
}

<h1>Luo sarja</h1>

<h4>Sarja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Luo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="col-md-10">  
                
                <input asp-for="KisaId" class="form-control" hidden="hidden" />
                <span asp-validation-for="KisaId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>

            <div class="form-group">
                
                <label asp-for="Numero" class="control-label"></label>
                <div style="display:flex; justify-content:start">
                    <input asp-for="Numero" type="number" min="1" max="9" step="1" class="form-control" style="width:5em" />
                    <p style="font-size:x-large">00</p>
                </div>
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            
            <br />
            <hr />

            
            <br />
            <input asp-for="RastienJarjestysJSON" class="form-control" id="JarjestysInput" hidden="hidden" />
                <span asp-validation-for="RastienJarjestysJSON" class="text-danger"></span>
                <p class="text-warning">Jos et ole vielä luonut kaikki rasteja, voit tehdä tämä myöhemmin sarjan muokkaa valikosta</p>
                <label class="control-label">Järjestä rastit siihen järjestykseen, jossa sarjan vartiot ne kulkevat, jotta voit nähdä vartiolle seuravaan rastin tilanneseurannassa.</label>
                <br />
                

                <br />
            <table id="myTable" style="color:black" class="table table-bordered">
                    
                    <tbody>
                @foreach(var rasti in Model.Rastit)
                {
                    <tr data-id="@rasti.Id">
                        <td>@rasti.NumeroJaNimi</td>
                    </tr>
                }
                </tbody>
            </table>
            <label class="control-label">Ylös ensimmäinen rasti ja alas viimenen</label>
            <hr />
            <div class="form-group" hidden="hidden">
                
                <label asp-for="VartionMaksimiko" class="control-label"></label>
                <input asp-for="VartionMaksimiko" class="form-control" />
                <span asp-validation-for="VartionMaksimiko" class="text-danger"></span>
            </div>
            
            <div class="form-group" hidden="hidden">
                
                <label asp-for="VartionMinimikoko" class="control-label"></label>
                <input asp-for="VartionMinimikoko" class="form-control" />
                <span asp-validation-for="VartionMinimikoko" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Luo sarja" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<link rel="stylesheet" href="/css/sortablerows.css">
<script src="/js/sortablerows.min.js"></script>
<script>
   
    var myTable = new SortableRows("myTable");

    document.getElementById("btnSubmit").addEventListener("click", () => {
        let output = myTable.getData();
        console.log(JSON.stringify(output));
        document.getElementById('JarjestysInput').value = JSON.stringify(output);
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
