@model Kipa_plus.Models.Sarja

@{
    ViewData["Title"] = "Luo Sarja";
}

<h1>Luo sarja</h1>

<h4>Sarja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Luo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="col-md-10">  
                
                <input asp-for="KisaId" class="form-control" hidden="hidden" />
                <span asp-validation-for="KisaId" class="text-danger"></span>
            </div> 
            <div class="form-group">
                
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            
            
            <div class="form-group" hidden="hidden">
                
                <label asp-for="VartionMaksimiko" class="control-label"></label>
                <input asp-for="VartionMaksimiko" class="form-control" />
                <span asp-validation-for="VartionMaksimiko" class="text-danger"></span>
            </div>
            
            <div class="form-group" hidden="hidden">
                
                <label asp-for="VartionMinimikoko" class="control-label"></label>
                <input asp-for="VartionMinimikoko" class="form-control" />
                <span asp-validation-for="VartionMinimikoko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Luo sarja" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
