@using System.Data;
@using System.Text;
@using System.Linq;
@model Kipa_plus.Models.TagTilastoModel;

@{
    ViewData["Title"] = "Tag tilastot";
}
<script src="/js/TagTilastot/jquery-3.6.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<script type="text/javascript" src="/js/TagTilastot/datatables.min.js"></script>

<h1>Tag tilastot</h1>
<div class="container" style="overflow-x: scroll">
    <br />
    
    <div style="width:100%; margin:0 auto;">
        @{
            var dt = new DataTable();

            
            dt.Columns.Add("Vartio");
            if(Model.SarjanRastit == null)
            {
                @Html.DisplayText("Virhe ladatessa vartioita")
                return;
            }
            foreach(var item in Model.SarjanRastit)
            {
                
                dt.Columns.Add(item.Nimi + " " + item.Id);
            }



            StringBuilder sb = new StringBuilder();
            //Table start.
            sb.Append("<table id='example' cellspacing='0' width='100%' style='color: white;' class='table cell-border table-striped table-bordered dt-responsive nowrap'>");


            sb.Append("<thead>");
            //Adding HeaderRow.
            sb.Append("<tr>");
            foreach (DataColumn column in dt.Columns)
            {
                sb.Append("<th style='color: white;'>" + column.ColumnName + "</th>");
            }
            sb.Append("</tr>");
            sb.Append("</thead>");

            sb.Append("<tbody>");
            
            if(Model.Vartio == null)
            {
                @Html.DisplayText("Virhe ladatessa vartioita")
                return;
            }
            if(Model.Skannaukset == null)
            {
                @Html.DisplayText("Virhe ladatessa Tag skannauksia")
                return;
            }
            foreach (var vartio in Model.Vartio)
            {
                sb.Append("<tr>");
                sb.Append("<td style='color: white;'>" + vartio.Numero + " " + vartio.Nimi + "</td>");
                foreach (DataColumn column in dt.Columns)
                {
                    if(column.ColumnName != "Vartio")
                    {
                        var rasti = Model.SarjanRastit.Where(x => x.Nimi + " " + x.Id == column.ColumnName); 
                        
                        var ajat = Model.Skannaukset.Where(x => x.RastiId == rasti.FirstOrDefault().Id);

                        var tulo = ajat.Where(x => x.isTulo == true).Where(x => x.VartioId == vartio.Id).FirstOrDefault();
                        var lahto = ajat.Where(x => x.isTulo == false).Where(x => x.VartioId == vartio.Id).FirstOrDefault();

                        

                        if(tulo != null && lahto != null)
                        {
                            sb.Append("<td style='color: white;'>" + tulo.TimeStamp.ToString("HH.mm") + " - " + lahto.TimeStamp.ToString("HH.mm") + "</td>");
                            
                        }
                        else if (tulo != null && lahto == null)
                        {
                            sb.Append("<td style='color: white;'>" + tulo.TimeStamp.ToString("HH.mm") + " - " + "Ei dataa" + "</td>");
                        }
                        else if(tulo == null && lahto != null)
                        {
                            sb.Append("<td style='color: white;'>" + "Ei dataa" + " - " + lahto.TimeStamp.ToString("HH.mm") + "</td>");
                        }
                        else
                        {
                            sb.Append("<td style='color: white;'>" + "Ei dataa" + " - " + "Ei dataa" + "</td>");
                            
                        }

                        
                    }
                }
                sb.Append("</tr>");
            }
            sb.Append("</tbody>");

            //Table end.
            sb.Append("</table>");
            @Html.Raw(sb.ToString())
            ;

        }


        

    </div>
</div>
<br />
<input type="button" value="Näytä raakaversio" class="btn btn-light" onclick="location.href='TagTilastot/Raw?id=@Model.id'" />




<script>


    $(document).ready(function () {
        $("#example").DataTable({
            "pageLength": 25
        });
    });


   

</script>

