@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Virhe</h1>
<h2 class="text-danger">Järjestelmä havaitsi virheen käsitellessäsi pyyntöäsi</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


<p>
    <strong>Siirry taaksepäin, käyttämällä selaimen taaksepäin nuolta ja yritä uudelleen</strong>
   Jos saat tämän virheen uudelleen, ota yhteys tilannekeskukseen tai järjestelmänvalvojaan.
</p>
