@model Kipa_plus.Models.Tehtävä

@{
    ViewData["Title"] = "Rastin Tehtävä";
}






<h4>Tehtävä</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
       
        
        <dd class = "h1">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <div>
            <input hidden="hidden" value="@Model.TehtavaJson" id="json-input" />
        </div>
        <div class="json-viewer" id="json-viewer"></div>
       
    <div class="form-group">
        <input type="submit" id="submit-button" value="Tallenna" class="btn btn-primary noPrint" />
       
    </div>
    
</dl>
<button onclick="window.print();" class="btn btn-dark noPrint">
    Tulosta
</button>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="assets/js/form-render.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="assets/js/media.js"></script>
<script src="assets/js/currentTime.js"></script>
<script src="assets/js/picker.js"></script>
<link href="assets/picker.css" rel="stylesheet">
<script src="assets/js/arviontivali.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        jQuery(function ($) {
            var fbeditor = document.getElementById('json-viewer');
            var getdata = document.getElementById('json-input').value;
            var fb = $(fbeditor).formRender({
    dataType: 'json',
    formData: getdata
  });


            document.getElementById('submit-button').addEventListener('click', function () {
                var data = JSON.stringify(fb.userData);
                document.getElementById('json-input').value = data;
                alert(data);

            });
        });


    </script>
}
