@model Kipa_plus.Models.Tehtävä

@{
    ViewData["Title"] = "Rastin Tehtävä";
}






<h4>Tehtävä</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
       
        
        <dd class = "h1">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <div>
            <input hidden="hidden" value="@Model.TehtavaJson" id="json-input" />
        </div>
        <div class="json-viewer" id="json-viewer"></div>
       
    <div class="form-group">
        <input type="button" id="submit-button" value="Tallenna" class="btn btn-primary noPrint" />
       
    </div>
    
</dl>
<button onclick="window.print();" class="btn btn-dark noPrint">
    Tulosta
</button>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="assets/js/form-render.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="assets/js/media.js"></script>
<script src="assets/js/currentTime.js"></script>
<script src="assets/js/picker.js"></script>
<link href="assets/picker.css" rel="stylesheet">
<script src="assets/js/arviointivali.js"></script>
<script src="assets/js/fileUpload.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        //luo formrender käyttämällä piilokentässä olevaa jsonia joka tehtiin formbuilderilla
        jQuery(function ($) {
            var fbeditor = document.getElementById('json-viewer');
            var getdata = document.getElementById('json-input').value;
            var fb = $(fbeditor).formRender({
    dataType: 'json',
    formData: getdata
  });

  //tarkista eka clientillä että kaikissa required fieldeissä on userdataa jos ei oo älä anna submitata 
            document.getElementById('submit-button').addEventListener('click', function () {
                var data = fb.userData;
                
                //tarkista että kaikkissa required fieldeissä on userdataa
                for(let i = 0; i < data.length; i++){
                    var field = data[i]
                   
                    if (field.required == true) {
                        if (!field.hasOwnProperty('userData')) {
                            alert('Täytä kaikki pakolliset kentät');
                            return;
                        }
                        else {
                            if (field.userData[0].length < 1) {  //en tiedä onko jossai elemteissä enemmän userdataa ku vaan yks array item joten väliaikainen
                                
                                //luo teksti ja siihen liittyvät asiat
                                var elem = document.createElement('span');
                                var parent = document.getElementsByName(field.name)[0].parentElement;
                                elem.textContent = 'Tämä kenttä on pakollinen';
                                elem.style.color = 'red';
                                elem.id = 'elementti';
                                
                                //lisää teksti vain jos sitä ei ole jo
                                if(parent.querySelector('#elementti') == null){
                                    parent.appendChild(elem);
                                }
                                
                                //lisää fade elementtiin
                                $(elem).fadeOut(6000, function(){
                                    elem.remove();
                                   
                                });
                                return;
                            }
                        }
                    }
                }

                //laita userdata json muodossa piilotettuun fieldiin formissa että se voidaan lähettää
                var jsondata = JSON.stringify(data);
                document.getElementById('json-input').value = jsondata;
                alert(jsondata);// vaihda että submittaa formin

            });
        });


    </script>
}
