@model IEnumerable<Kipa_plus.Models.Tehtava>
@using Kipa_plus.Models;

@{
    ViewData["Title"] = "Rastin Tehtavapohjat";
}

<h1>Rastin Tehtavat</h1>

<p>
    
    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Luo?KisaId=@ViewBag.KisaId&RastiId=@ViewBag.RastiId';">Luo Tehtävä</button>
</p>
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
                Nimi ja sarja
            </th>
           <th></th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
               <h3>@item.Nimi</h3>
                    @{
                            var sarjat = (List<Sarja>)ViewBag.Sarjat;
                            var nimet = sarjat.Where(x => x.Id == item.SarjaId);
                            var nimi = nimet.FirstOrDefault().Nimi;

                        }
                        <h5>@nimi</h5>
            </td>
           
            <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Tayta?TehtavaId=@item.Id';">Täytä</button>
                <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Edit?id=@item.Id';">Muokkaa</button>
                    <button type="button" class="btn btn-danger" onclick="location.href = '/Tehtava/Delete?id=@item.Id';">Poista</button>
            </td>
        </tr>
}
    </tbody>
</table>
