@model Kipa_plus.Models.ViewModels.JatkaTehtävääViewModel

@{
    ViewData["Title"] = "Jatka tehtävää";
}






<h4>Jatka tehtävää</h4>
<hr />
<div class="row">
    <div>
        <form action="/Tehtava/Jatka?RastiId=@Model.RastiId" method="post" id="Formi">
            @Html.AntiForgeryToken()
        <h2>@Model.VartioNimi</h2>
        <h3>@Model.TehtäväNimi</h3>

        <div class="form-group" hidden="hidden">
            
            <input asp-for="TehtäväVastausId" class="form-control" />
            
        </div>

         <div class="form-group" hidden="hidden">
            
            <input asp-for="RastiId" class="form-control" />
            
        </div>

       

        <div class="form-group" hidden="hidden">
            <label asp-for="TehtäväJson" class="control-label"></label>
            <input asp-for="TehtäväJson" id="json-input" class="form-control" />
            <span asp-validation-for="TehtäväJson" class="text-danger"></span>
        </div>

        <div class="json-viewer" id="json-viewer"></div>


        <br />
        
        <div class="form-group">
            <input type="button" id="submit-button" value="Lähetä" class="btn btn-primary noPrint" />
           

        </div>

        </form>
    </div>
</div>







<script src="~/js/site.js" asp-append-version="true"></script>
<script src="assets/js/form-render.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/media.js"></script>
<script src="assets/js/currentTime.js"></script>
<script src="assets/js/picker.js"></script>
<link href="assets/picker.css" rel="stylesheet">
<script src="assets/js/arviointivali.js"></script>
<script src="assets/js/fileUpload.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        //luo formrender käyttämällä piilokentässä olevaa jsonia joka tehtiin formbuilderilla
        jQuery(function ($) {
            var fbeditor = document.getElementById('json-viewer');
            var getdata = document.getElementById('json-input').value;
            var fb = $(fbeditor).formRender({
                dataType: 'json',
                formData: getdata
            });

            //tarkista eka clientillä että kaikissa required fieldeissä on userdataa jos ei oo älä anna submitata
            function Submittaa(Kesken) {
                var data = fb.userData;

                //tarkista että kaikkissa required fieldeissä on userdataa
                for (let i = 0; i < data.length; i++) {

                    var field = data[i]
                    console.log(field.userData);

                    if (field.required == true) {

                        try {
                            if (!field.hasOwnProperty('userData')) {
                                //luo teksti ja siihen liittyvät asiat
                                var elem = document.createElement('span');
                                var parent = document.getElementsByName(field.name)[0].parentElement;
                                elem.textContent = 'Tämä kenttä on pakollinen';
                                elem.style.color = 'red';
                                elem.id = 'elementti';

                                //lisää teksti vain jos sitä ei ole jo
                                if (parent.querySelector('#elementti') == null) {
                                    parent.appendChild(elem);
                                }

                                //lisää fade elementtiin
                                $(elem).fadeOut(6000, function () {
                                    elem.remove();

                                });
                                return;
                            }
                            else {
                                if (field.userData != null) {
                                    if (Array.isArray(field.userData)) {
                                        if (field.userData[0].length < 1) {
                                            //luo teksti ja siihen liittyvät asiat
                                            var elem = document.createElement('span');
                                            var parent = document.getElementsByName(field.name)[0].parentElement;
                                            elem.textContent = 'Tämä kenttä on pakollinen';
                                            elem.style.color = 'red';
                                            elem.id = 'elementti';

                                            //lisää teksti vain jos sitä ei ole jo
                                            if (parent.querySelector('#elementti') == null) {
                                                parent.appendChild(elem);
                                            }

                                            //lisää fade elementtiin
                                            $(elem).fadeOut(6000, function () {
                                                elem.remove();

                                            });
                                            return;
                                        }
                                    }
                                    else if (field.userData.length < 1) {
                                        //luo teksti ja siihen liittyvät asiat
                                        var elem = document.createElement('span');
                                        var parent = document.getElementsByName(field.name)[0].parentElement;
                                        elem.textContent = 'Tämä kenttä on pakollinen';
                                        elem.style.color = 'red';
                                        elem.id = 'elementti';

                                        //lisää teksti vain jos sitä ei ole jo
                                        if (parent.querySelector('#elementti') == null) {
                                            parent.appendChild(elem);
                                        }

                                        //lisää fade elementtiin
                                        $(elem).fadeOut(6000, function () {
                                            elem.remove();

                                        });
                                        return;
                                    }
                                }
                                else {
                                    var elem = document.createElement('span');
                                    var parent = document.getElementsByName(field.name)[0].parentElement;
                                    elem.textContent = 'Tämä kenttä on pakollinen';
                                    elem.style.color = 'red';
                                    elem.id = 'elementti';

                                    //lisää teksti vain jos sitä ei ole jo
                                    if (parent.querySelector('#elementti') == null) {
                                        parent.appendChild(elem);
                                    }

                                    //lisää fade elementtiin
                                    $(elem).fadeOut(6000, function () {
                                        elem.remove();

                                    });
                                    return;
                                }
                            }
                        }
                        catch (error) {
                            alert('täytä kaikki pakolliset punaisella tähdellä merkityt kohdat!')
                            return;
                        }
                    }
                }
                //laita userdata json muodossa piilotettuun fieldiin formissa että se voidaan lähettää
                var jsondata = JSON.stringify(data);
                document.getElementById('json-input').value = jsondata;

                if (Kesken) {
                    document.getElementById('Kesken-CheckBox').checked = true;
                };

                document.getElementById('Formi').submit();
            }




            document.getElementById('submit-button').addEventListener('click', function () {
                Submittaa(false);
            });

            
        })
    </script>
}
