@model IEnumerable<Kipa_plus.Models.TehtavaVastaus>
@using Kipa_plus.Models;
@{
    ViewData["Title"] = "Tehtävän vastaukset";
}
<h1>Tehtävän vastaukset</h1>

<br />
<table class="table" style="color: white">
    <thead>
        <tr>
            <th>
               Vartio
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    
                    @{
                        var vartiot = (List<Vartio>)ViewBag.Vartiot;
                        var nimi = vartiot.Where(x => x.Id == item.VartioId).FirstOrDefault().Nimi;

                    }
                    <h3>@nimi</h3>
                    @if (item.Kesken)
                    {
                        <h5 style="color:yellow">Kesken</h5>
                    }
                    
                </td>

                <td>
                    <button type="button" class="btn btn-light" onclick="location.href = '/Tehtava/Nayta?TehtavaVastausId=@item.Id';">Näytä</button>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
